/* ==========================================================================
   TABLES
   ========================================================================== */

table {
#  margin-bottom: 1em;
  margin-bottom: none;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: none;
#  border: 1px solid $light-gray;

  & + table {
#    margin-top: 1em;
    margin-top: none;
  }
}

thead {
  background-color: $lighter-gray;
#  border-bottom: 1px solid $light-gray;
  border-bottom: none;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
#  border-right: 1px solid $light-gray;
  border-right: none;
}

td {
  padding: 0.5em;
#  border-bottom: 1px solid $light-gray;
  border-bottom: none;
#  border-right: 1px solid $light-gray;
  border-right: none;
}

tr, td, th {
  vertical-align: middle;
}
